body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app label, #app input, #app button {
    margin: 5px 0;
}